*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

main{
    height: 97vh;
    background-color: var(--Light-gray);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    width: 350px;
    height: 550px;
    background-color: var(--White);
    border-radius: 35px;
}

img{
    margin: 1em;
    border-radius: 1.4em;
}
h1{
    margin: 0.2em 0.9em;
    text-align:center;
    color: var(--Dark-blue);
}
p{
    padding: 0.8em 2em 2em;
    text-align: center;
    color: var(--Grayish-blue);
}

.attribution { 
    font-size: 11px; 
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}